label, input {
    margin: 4px;
}
ul {
    width: 170px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #c1d2ea;
}
li {
    list-style-type: circle;
    margin-left: 20px;
}
a {
    color: black;
}